@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body{
    background-color: #FD0500;
    margin: 0;
    padding: 0;
    font-family:Inter ;
}

h3{

    text-decoration: underline;
}


/* menu */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

#foot.pied{

    width: 100%;
    position: absolute;
    bottom: 0;
}

#logo{

    width: 7%;
    margin-left: 5%;

}

#logo img {

    width: 100%;
}

#menu3{

    display: none;
}

#log1{

    width: 20%;
}

nav{
    width: 45%;
}

nav a{

    text-decoration: none;
    color: #FD0500;
    font-style: italic;
}

nav a:hover{

    color: #9DA09A;
}

nav ul{

    display: flex;
}

nav ul li{

    list-style-type: none;
    margin-right: 10%;
}

#croix{

    display: none;
}
/* ___________________________ main _________________________________ */


#first{

    display: flex;
    height: 10%;
}

#ordi{

    background-color: #9DA09A;
    width: 40%;
}

#ordi div{

    position: relative;
    bottom: 61%;
    left: 40%;
    width: 45%;

}

#ordi div video{

    width: 50%;

}

#titre{

    font-size: 45px;
    color: #FFF;
    text-align: center;


}

#cv{

    /* border: 3px solid black; */
    font-size: 10px;
    border-radius: 5%;
    color: #fff;
    text-decoration: none;
    padding: 4% 0% 4% 0%;
    background-color: #FD0500;
}

#para{
    width: 60%;
    margin: auto;
}

#para p{
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    margin: 3% 3%;
    text-align: center;
    color: #fff;
    padding: 0% 11%;
}

#para h1{

    font-size: 26px;
    font-style: italic;
    font-weight: 400;

}

#dessin{
    width:79%;
    margin-left: 20%;
}

/* __________________competences_______________________ */

#second{

    /* margin: 5% 0% 5% 2%; */
    background-color: #FFF;
    padding-bottom: 2%;

}

#second h2,h3 {

    color:#FD0500;

}
#second h2, #proj h2{
    margin-top: 0;
    margin-left: 1%;
    padding-top: 2%;

}

#competences{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

#competences a{

    /* margin-left: 2%;
    margin-top: 2%; */
    border: none;
    text-decoration: none;
    margin: 2% 2% 0% 2%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* background-color: #9DA09A; */
}

#competences a:hover{

    background-color: #9DA09A;
    /* border: 2px solid black; */
    cursor: pointer;
}

#competences a img{

    width: 10%;
    /* margin-left: 20%; */
}

#competences h3{

    text-decoration: none;
}

.desc{

    display: none;
   
}

#truc h3{
    margin-bottom: 0; 
    padding-bottom: 2%;
}


h2{
    color: #FFF;
}

.desc.vois{
    display: block;
    background-color: #9da09a;
    border-radius: 1%;
    position: absolute;
    align-items: center;
    box-shadow:  15px 15px #000;
    padding: 4%;
    width: 37%;
    height: 55%;
    left: 23%;


}

#lebtn{

    display: flex;
    flex-direction: row-reverse;
}

#lala{

    display: flex;
    flex-direction: row;
    /* background-color: #9da09a; */
    color: #FD0500;
    /* border-radius: 1%; */
    /* position: absolute; */
    /* align-items: center; */
    /* box-shadow:  15px 15px #000; */
    /* padding: 4%;
    width: 37%;
    height: 42%;
    left: 23%; */
}

/* .desc.vois div{

    margin-left:1% ;
} */

.desc.vois img{

    width: 60%;
    margin: 11% 0% 0% 5%;

}

.desc.text{

    display: block;
}

#btn21{

    display: flex;
    flex-direction: row-reverse;
}

.desc.close{

    display: block;
    border-radius: 1%;
    border: none;
    /* position: absolute; */
    /* left: 65.3%;
    bottom: -14px; */
    background-color: #FD0500;
    padding: 1%;
    cursor: pointer;
}

/*________________________ competences /_____________________________________*/

/*__________________________ projets _______________________________________ */


#proj1{

    display: flex;
    margin-left: 15%;
    /* margin-bottom: 4%; */
    padding-top: 5%;
}

#proj1 img{

 width: 50%;
}

#pho1, #pho2{

    visibility: hidden;
    display: block;
    position: relative;
    background-color: #000;
    opacity: 0.60;
    color: #fff;
    bottom: 55%;
    width: 50%;
    height: 47%;
    /* text-align: center; */

}

#pho1:hover, #pho2:hover {

    visibility: visible;
    /* cursor: pointer; */
}

#proj1 img:hover + #pho1, #proj1 img:hover + #pho2{

    visibility: visible;
    /* cursor: pointer; */
}

#proj1 img:hover,.disp{

    opacity: 0.20;
    /* cursor: pointer; */
}

span{

    text-decoration: underline;
}

span a{

    color: #FD0500;
}



/*__________________________ projets /_______________________________________ */

/* parcours */

#parcjs{

    padding: 2% 2% 1.5%;

}

#parcjs h2{

    font-style: italic;
    margin-bottom: 3%;
}
#parcjs h3{

    color: #FFF;
}
#parcjs p{

    font-weight: 500;
    color: #FFF;
    margin-left: 1%;
    margin-bottom: 3%;
}

/* contact */

form{

    display: flex;
    flex-direction: column;
    width: 40%; 
    /* align-items: center; */
}

textarea{

    margin-bottom: 8%;
    width: 504px;
    height: 117px;
}

form button{

    width: 20%;
}
/* footer */

footer{

    background-color: #fff;

}

footer p{

    margin: 0;
    padding: 1%;
    font-size: 12px;
    text-align: center;
    color: #FD0500;
}

/* contact */

#contact{

    margin: 0% 2%;
}

label{

    margin-top: 5%;
    color: #fff;
}