@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');


/* Paramètres global */
*{
    margin: 0;
    padding: 0;
    color: #000;
    border: 0;
    font-size: 25px;
    font-weight: normal;
    font-family: Roboto Slab;
    font-weight: 300;
}

body{


    background-color: #fff;
    
}

p{
  padding-right: 10%;
}


h2{
    padding-bottom: 3%;
    padding-top:3%;
    color: #00c7ff;
    text-decoration: overline;
}

#contact2{

  color: white;
}




/*header*/

header{

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    background-color: #00ff6a;
    margin: 0;
    padding: 0;
    /*border-bottom: #000;
    border-style: solid;
    border-bottom-width: 2%;  */
    box-shadow: 0 0 10px 0 black;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 7;
}



.titre{

  padding-top: 3%;
  font-family: Roboto Slab;
  font-weight: 700;
}

h1:hover{

  color: #fff; 
  
  
}

.icone{

  width: 8%;
  height: 10%;
  margin-right: 3%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.material-icons{
  display: none;
}

li{

  display: inline;
  list-style-type: none;
  font-family: Roboto Slab;
  font-weight: 400;
  margin-right: 12px;
  text-decoration: none;
  

}



a{
  text-decoration: none;
}

/*a:hover{
  text-decoration: underline;
  transform: scale();
  transition: 1s;
}*/


li :hover{

  color:honeydew;
}

.menu{
  margin-top: 3%;
  margin-left: 35%;
}


/*_________________________________________________*/



main{
  padding-left: 2%;
  padding-right: 2%;
  /*padding-top: 10%;*/
  /*margin-top:10%;*/
  position: static;
  overflow: hidden;
}

#debut{

  padding-top: 12%;

}

#texte{

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.photo{

    width: 100%;
    height: 100%;
    z-index: 1;

}


/*figure {
  border: 1px solid green;
}*/
/* Infos générales + positionnement relatif */
figcaption {
  background: #22222288;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: relative;
  transition: opacity 2.3s ease;
  
  /*top: -54px;*/
}

/*#titre2{
  z-index: 6;
  position: relative;
  margin-bottom: 2%;
}*/
/* Positionnement absolu */
figure {
  position: relative;
  margin-right: 6%;
}
figcaption {
  position: absolute;
  bottom: 0;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
}


/* Animation au survol de l'image avec la souris */
figure:hover figcaption {
  opacity: 0;
  transition: opacity 0.3s ease;

}



figure:hover img {
  transform: scale(1.40) rotate(0deg);
  box-shadow: 0 0 5px #555;
  border-radius: 10px;
  filter: blur(0);
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

figure img {
  filter: blur(20px);
  transform: rotate(-10deg);
  transition: all 0.3s ease;
}
figure {
  overflow: hidden;
}
figure:hover {
  overflow: visible;
}

figure img.mini {
  display: none;
}


#fotos{

  background-image:url(tableau.jpg);
  

}

  .img1, .img2{
    width:70%;
    box-shadow: 12px 12px 2px 1px #494949;
    border-radius: 2%;
    z-index: 3;
  
  }

  .punaise{

    width: 2%;
    height: 2%;
    z-index: 5;
    position: absolute;
    margin-top: 27%;
    right: 23%;
    

  }

  .punaise2{

    width: 2%;
    height: 2%;
    z-index: 5;
    position: absolute;
    margin-top: 27%;
    left: 28%;
    

  }

  
  .box{
    transform:rotate(35deg);
    transition: transform 1s;
    padding-top: 8%;  
    padding-left:2% ;
  }

  .box2{
    transform: rotate(35deg);
  transition: transform 1s;
  padding-top: 8%;  
  padding-left:2% ;
  }
  
  
  .box:hover{
    transform:rotate(0deg);
    transition: 1s;  
  
  }
  
  section{
    display:flex;
  }
  

  .box2:hover{
    transform:rotate(0deg);
    transition: 1s;  

  }

  .box, .box2{

    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 5%;
    
  }

 
/* Information de contact */

  #contact {

    background: #00ff6a;
    color: #2a2c2f;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

/*#contact form {
  
    max-width: 500px;
    margin: 0 auto;
    padding-top: 7%;
}
#contact label {
    display: block;
    margin-bottom: 5px;
}

#contact input,
#contact textarea {
    padding: 5px;
    border-radius: 3px;
    width: 400px;
    margin-bottom: 30px;
}*/

#contact2{
  
  margin-left: 0 ;
}

#contact3{

  font-family: Leto;
  font-weight: 400 ;
}

#copyright{
  
  text-align: center;
  font-family: Leto;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 780px){

  h2{
    margin-top: 30%;
  }

  .titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
  }

  nav li{
    
    margin-bottom: 3%;
  }

  .icone{
      display: none;
  }

  p{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }

}




